<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    {% load static %}
		<link href="{% static 'diabetes/style.css' %}" rel="stylesheet" type="text/css">
		<title> {% block title %} Diabetes Prediction {% endblock %} </title>
	</head>

	<body>
		<div class="container">
			<div id="content-wrap">
				<header>
					<div class="logo">Early-Stage Diabetes Diagnosis</div>
					<nav class="menu">
					  <div class="dropdown">
						<p id="menutext">Menu</p>
						<div class="dropdown-content">
						  <a href="{% url 'about' %}">About</a>
						  <a href="{% url 'new_record' %}">New Record</a>
						  <a href="{% url 'predict' %}">Prediction</a>
						  <a href="{% url 'statistics' %}">statistics</a>
						</div>
					  </div>
					</nav>
				  </header>
		
				<h1 class="pagename" id="id_page_name"> {% block pagename %} Base {% endblock %}</h1>
		
				<div class="content">
					{% block content %}
					{% endblock %}
					
				</div>
			</div>
			
			<div class="footer">
				<div>&copy; 2023 Healthcare Web Application. All rights reserved. | 
					<a href="#">Privacy Policy</a> | 
					<a href="#">Terms of Service</a>
				</div>				
			</div>
		</div>
	</body>
</html>