{% extends "diabetes/base.html" %}

{% block pagename %} Prediction {% endblock %}

{% block content %}

<form method="post" action="{% url 'predict' %}">
    <table>
        {% for field in form.visible_fields %}
            <tr>
                <td>{{field.label_tag}}</td>
                <td>{{field}}</td>
                <td class="error">
                    {% for error in field.errors %} {{error}} {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% csrf_token %}
    <button type="submit">Predict</button>
</form>

{% if message == "no potential diabetes" %} 
<p class="negative">{{message}}</p>
{% elif message == "potential diabetes"%}
<p class="positive">{{message}}</p>
{% endif %}

{% endblock %}