{% extends "diabetes/base.html" %}

{% block pagename %} Statistics of Dataset {% endblock %}

{% load static %}

{% block content %}
<div class="scrollable">
    <div class="tables-wrapper" style="display: flex; justify-content: center; margin: 30px;">
        <div class="table-container" style="position: relative; left: -4rem;">
            <table style="table-layout: fixed; width: 60%;">
              <tr>
                <th># of Patients</th>
                <td class="statd">520</td>
              </tr>
              <tr>
                <th># of Positive cases</th>
                <td class="statd">320</td>
              </tr>
              <tr>
                <th># of Features</th>
                <td class="statd">16</td>
              </tr>
            </table>
          </div>
        <div class="table-container" style="position: relative; left: -8rem;">
          <table>
            <tr>
              <th></th>
              <th>Actual Positive</th>
              <th>Actual Negative</th>
            </tr>
            <tr>
              <th>Predicted Positive</th>
              <td class="true-positive">{{ confusion_matrix.0.0 }}</td>
              <td class="false-positive">{{ confusion_matrix.0.1 }}</td>
            </tr>
            <tr>
              <th>Predicted Negative</th>
              <td class="false-negative">{{ confusion_matrix.1.0 }}</td>
              <td class="true-negative">{{ confusion_matrix.1.1 }}</td>
            </tr>
          </table>
        </div>
      </div>      
      
    <div class="imgset" style="margin: 30px;">
        <img src="/static/age_hist.png" alt="Histogram of Age" class="stat">
        <img src="/static/gender_pie.png" alt="Histogram of Age"  class="stat">
    </div>
    <div style="margin: 30px;">
        <img src="/static/symptom_hist.png" alt="Histogram of Age" class="stat">          
    </div>
</div>

{% endblock %}