{% extends "diabetes/base.html" %}

{% block pagename %} Suggestions for Potential Type II Diabetes {% endblock %}

{% block content %}
<div id="about_info" style="display: flex; flex-direction: row; align-items: center;">
    <div style="flex: 4;">
        <ul>
            <li>Maintain a healthy weight: Being overweight or obese increases the risk of developing type 2 diabetes. Losing weight through a combination of healthy eating and regular exercise can reduce the risk of developing the disease.</li>
            <li>Follow a healthy diet: Eating a healthy diet that is low in sugar and saturated fats can help reduce the risk of developing type 2 diabetes. Foods that are high in fiber, such as fruits, vegetables, and whole grains, can help regulate blood sugar levels.</li>
            <li>Engage in regular physical activity: Exercise can help regulate blood sugar levels and reduce the risk of developing type 2 diabetes. Experts recommend at least 30 minutes of moderate-intensity exercise, such as brisk walking, most days of the week.</li>
            <li>Avoid smoking: Smoking increases the risk of developing type 2 diabetes, as well as other health problems. Quitting smoking can help reduce the risk of developing the disease.</li>
            <li>Manage stress: Chronic stress can increase the risk of developing type 2 diabetes. Engaging in stress-reducing activities, such as meditation, yoga, or deep breathing exercises, can help lower stress levels and reduce the risk of developing the disease.</li>
            <li>Monitor blood sugar levels: Regular blood sugar monitoring can help identify early signs of type 2 diabetes, allowing for early intervention and treatment.</li>
            <li>Get regular check-ups: Regular check-ups with a healthcare provider can help identify risk factors for type 2 diabetes and provide guidance on how to reduce the risk of developing the disease.</li>
        </ul>
    </div>
    <div style="flex: 1;">
        <img src="/static/treatment.jpeg" alt="treatment suggestions for diabetes" style="height:500px; width: auto;">
    </div>
</div>



{% endblock %}